/* BEGIN Black Italic */
@font-face {
	font-family: "GothamPro";
	@include fontdef($FontPath, $FontName, $FontVersion, "BlackItalic");
	font-weight: 900;
	font-style: italic;
}
/* END Black Italic */
