/* BEGIN Light Italic */
@font-face {
	font-family: "GothamPro";
	@include fontdef($FontPath, $FontName, $FontVersion, "LightItalic");
	font-weight: 300;
	font-style: italic;
}
/* END Light Italic */
