// ------------------ Aside -------------
$max-aside-width: 170px;

.site-nav-conteiner {
  background-color: $primary-color;
  padding: 0 !important;

  @include breakpoint(small only) {
    width: 100%;
  }

  @include breakpoint(medium) {
      @include grid-column;

      width: $max-aside-width;
  }
}


// ------------------ Article -------------

.body-container {
  @include breakpoint(medium) {
    @include grid-column;

    width: calc(100% - #{$max-aside-width});
    flex: 1 1 0;
    min-width: 0;

    &:last-child:not(:first-child) {
        float: right;
    }
  }
}

.collapsed > .body-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

//------------------ Advice section -------------

.advice-section-wrapper {
  @include vertical-margin-rythm($bottom: rem-calc(30), $top: 0);

  text-align: center;
  font-weight: 300;

  .advice-section {
    display: inline-block;
    background-color: #717173;
    color: $white;
    padding: 5% 10% 6%;
    width: 100%;
    margin-top: -1px;

    .title {
      text-transform: uppercase;
      margin-bottom: 1em;

      &.single {
        margin-bottom: 0;
      }
    }
  }
}


//------------------ Interactive banner section -------------

$site-backgrounds-path: "../../images/backgrounds";

.image-banner-section {
  @include vertical-padding-rythm($bottom: rem-calc(45), $top: rem-calc(45));
  padding-left: 5%;
  padding-right: 5%;

  background: url(#{$site-backgrounds-path}/banner-fan-test.png) no-repeat 44% top / cover ;
  text-align: center;

  .section-title {
     margin: 0 0 4px;

    color: $white;
    font-weight: 400;
  }

  .section-button {
    margin-top: rem-calc(80);
    padding: 0.6em 2.7em;
  }

  @include breakpoint(small only) {
    .section-button {
      font-size: rem-calc(17);
      margin-top: 2rem;
    }
  }
}

//------------------ Test two column section ------------------

.two-columns-test {
  .test-column {
    @include grid-column(50%);

    margin-bottom: rem-calc(35);

    .input-wrapper label {
      white-space: pre-line;
      font-size: rem-calc(16);
      line-height: 1.3;
    }

    &.grid-x {
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(20);
    }

    &:last-child {
      text-align: right;
    }

    @media (min-width: $collapsed-columns-start) and (max-width: $collapsed-columns-end) {
      @include grid-column(12);

      &:first-child {
         margin-bottom: 0;
      }

      &:last-child {
        text-align: left;
      }

      // some other sections
      &:first-child {

        // .acuity-test-table
        .acuity-test-table {
          margin-bottom: rem-calc(60);
        }
      }
    }
  }
}


//------------------ Dryness test component ------------------

.dryness-click-aria {
  @include vertical-margin-rythm($bottom: rem-calc(30), $top: 0);

  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;

  .counter {
    bottom: 40%;
    color: #000000;
    font-size: 88px;
    font-weight: 500;
    left: rem-calc(10);
    position: absolute;
    width: 100%;
  }
}


//------------- Perception column container -----------------

.perception > .test-column {
  &:first-child {
    text-align: right;
    padding-right: 4vw;
  }

  &:last-child {
    text-align: left;
    padding-left: 4vw;
  }

  .perception-column-container {
    display: inline-block;
    max-width: rem-calc(240);

    .section-input-group {
      margin-top: rem-calc(30);
      margin-bottom: 0;
      padding: 0 rem-calc(35);

      .button {
        font-size: rem-calc(10);
        margin-left: rem-calc(10);
      }

      .input-group-field {
        padding-left: 0;
        text-align: center;
      }
    }
  }

  @media (min-width: $collapsed-columns-start) and (max-width: $collapsed-columns-end) {
    &:first-child,
    &:last-child {
      text-align: center;
    }

    &:first-child {
      margin-bottom: rem-calc(40);
    }
  }
}

// -------------  Calibration test section -----------------

.calibration {
  @include vertical-margin-rythm($bottom: rem-calc(50), $top: 0);

  .coins-list-title{
    max-width: rem-calc(90);
  }
  .coins-list {
    margin: 0;

    & > li {
      @include grid-column(1 of 5);

      list-style-type: none;
      padding: 0 0.2rem !important;
      cursor: pointer;
    }
  }

  .col-left,
  .col-right,
  .col-center {
    width: 100%;
  }

  .col-center {
    text-align: center;

    & > span {
      border-bottom: 1px solid #D3D3D3;
    }
  }

  .input-number-group {
    margin: rem-calc(35 0 0 90);
  }

  .labeled-select select {
    width: rem-calc(110);
    margin-left: rem-calc(35);
  }

  @media (min-width: $collapsed-columns-end) {
    .col-left {
        @include grid-column(5);
        @include grid-col-pos(-7);
    }
    .col-right {
        @include grid-column(6);
        @include grid-col-pos(6);
    }
    .col-center {
        @include grid-column(1);
        @include grid-col-pos(-1);
    }

    .test-start {
        position: absolute;
        bottom: 0;
    }
  }
}


.caution {
  position: relative;

  font-family: 'Oswald', sans-serif;
  color: #C8C8C8;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  background-color: #f8f8f8;
  min-height: 5vh;
  margin: 0 !important;
  padding: rem-calc(20 40);
}


// Product list section

.products-list {
  margin-bottom: rem-calc(50) !important;

  @include breakpoint(small only) {
    margin-bottom: rem-calc(100) !important;
  }
}

.product-item {
  margin-bottom: rem-calc(50);

  .product-item-column {
    @include grid-column;

    @media (min-width: rem-calc(780)) {
      &:first-child {
        @include grid-column(3 of 8);
      }

      &:last-child {
        @include grid-column(5 of 8);
      }

      .product-item-description {
        margin-left: rem-calc(100);
      }
    }
  }

  header {
    border-bottom: 3px solid #D2D2D2;
    margin-bottom: rem-calc(40);
  }

  .product-name {
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.2;
    color: $white;
    background-color: $primary-color;
    padding: rem-calc(10 15);
    margin: 0;
    min-width: rem-calc(310);
    font-weight: 300;
    text-align: center;
  }

  .product-item-component {
    color: $primary-color;
    margin: rem-calc(30 0 5);
    line-height: 1.2
  }

  .product-item-certificate {
    color: $body-font-color;
    line-height: 1.2;
    font-size: 0.9em;
  }

  .product-item-description {
    margin-left: rem-calc(37);

    li {
      list-style: none;
      line-height: 1.2;
      margin-bottom: rem-calc(20);
      position: relative;

      &:before {
        content: " \25CF";
        color: $primary-color;
        display: inline-block;
        font-size: 3em;
        left: -2.3rem;
        position: absolute;
        top: -20px;
        width: 2.3rem;
      }
    }
  }
}