@mixin fontdef($PTSerifFontPath, $PTSerifFontName, $PTSerifFontVersion, $PTSerifFontType:"Regular") {
  src:  url('#{$PTSerifFontPath}/#{$PTSerifFontName}-#{$PTSerifFontType}.eot');
  src:  url('#{$PTSerifFontPath}/#{$PTSerifFontName}-#{$PTSerifFontType}.eot') format('embedded-opentype'),
        url('#{$PTSerifFontPath}/#{$PTSerifFontName}-#{$PTSerifFontType}.woff') format('woff'),
        url('#{$PTSerifFontPath}/#{$PTSerifFontName}-#{$PTSerifFontType}.woff2') format('woff2'),
        url('#{$PTSerifFontPath}/#{$PTSerifFontName}-#{$PTSerifFontType}.ttf') format('truetype'),
        url('#{$PTSerifFontPath}/#{$PTSerifFontName}-#{$PTSerifFontType}.svg') format('svg');
}

@mixin fontdef-woff($PTSerifFontPath, $PTSerifFontName, $PTSerifFontVersion:"1.0.0", $PTSerifFontType:"Regular") {
    src:    url('#{$PTSerifFontPath}/#{$PTSerifFontName}-#{$PTSerifFontType}.woff2') format('woff2'),
            url('#{$PTSerifFontPath}/#{$PTSerifFontName}-#{$PTSerifFontType}.woff') format('woff'),
            url('#{$PTSerifFontPath}/#{$PTSerifFontName}-#{$PTSerifFontType}.ttf') format('truetype');
}

