/* BEGIN Regular */
@font-face {
	font-family: "PTSerif";
	@include fontdef($PTSerifFontPath, $PTSerifFontName, $PTSerifFontVersion, "Regular");
	font-weight: 400;
	font-style: normal;
}
/* END Regular */
