/* ------------------ Typograthy  ------------- */

.page-title {
  position: relative;
  overflow: hidden;
  font-family: $ptserif-font-family;
  text-align: center;
  color: #000000;
  margin: 1em 0 1.1em;

  span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px;

    &:before, &:after {
      content: '';
      display: block;
      width: 1000px;
      position: absolute;
      top: 0.73em;
      border-top: 2px solid #676767;
    }

    &:before { right: 100%; }
    &:after { left: 100%; }
  }

  &.two-lines span {
    &:before, &:after {
      top: 1em;
    }
  }
}

.page-img-title {
  text-align: center;

  .title{
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    font-size: rem-calc(35);
    background-color: $primary-color;
    padding: 0.15em 0;
    margin: -1em 0 1.4em;
    width: 80%;

    $font-small-start: map-get($breakpoints, 'medium');
    $font-small-end: 770px;

    @media (min-width: $font-small-start) and (max-width: $font-small-end) {
      font-size: 4.6vw;
    }

    @include breakpoint(small only) {
      font-size: rem-calc(24);
      width: 90%;
    }
  }

}

.section-title {
  @include breakpoint(small only) { font-size: rem-calc(18);}

  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: rem-calc(24);
  margin: 1em 0 2.1em;

  &.small-indentation{
    margin-bottom: 1.1em;
  }
}

.eye-closed-title {
  font-size: rem-calc(17);
  font-weight: 600;
  
  [class*="icon-"]::before {
    margin-right: 2.5vw;
    vertical-align: -1.5vw;
  }

  @media (min-width: $collapsed-columns-start) and (max-width: $collapsed-columns-end) {
    text-align: left;
    margin-bottom: rem-calc(5);

    .icon-normal {display:none;}
  }

  @media (min-width: $collapsed-columns-end) {
    text-align: right;
    margin-bottom: rem-calc(20);

    .icon-small {display:none;}
  }

  // same behavior as for small screen size
  &.small {
    text-align: left;
    margin-bottom: rem-calc(5);

    .icon-normal {display:none;}
    .icon-small {display:inline-block;}
  }
}

.section-goto-link {
  @include vertical-padding-rythm($bottom: 0, $top: rem-calc(30));

  border-bottom: 1px solid #BAD8E2;
  padding-bottom: rem-calc(4);
}

.separator-left.top-inflow:after {
  margin-top: -2rem;
}

.test-description {
  @include vertical-margin-rythm($bottom: rem-calc(30), $top: 0);
}