@mixin fontdef($AcromFontPath, $AcromFontName, $AcromFontVersion, $AcromFontType:"Regular") {
  src:  url('#{$AcromFontPath}/#{$AcromFontName}-#{$AcromFontType}.eot');
  src:  url('#{$AcromFontPath}/#{$AcromFontName}-#{$AcromFontType}.eot') format('embedded-opentype'),
        url('#{$AcromFontPath}/#{$AcromFontName}-#{$AcromFontType}.woff2') format('woff2'),
        url('#{$AcromFontPath}/#{$AcromFontName}-#{$AcromFontType}.woff') format('woff'),
        url('#{$AcromFontPath}/#{$AcromFontName}-#{$AcromFontType}.ttf') format('truetype'),
        url('#{$AcromFontPath}/#{$AcromFontName}-#{$AcromFontType}.svg') format('svg');
}

@mixin fontdef-woff($AcromFontPath, $AcromFontName, $AcromFontVersion:"1.0.0", $AcromFontType:"Regular") {
    src:    url('#{$AcromFontPath}/#{$AcromFontName}-#{$AcromFontType}.woff2') format('woff2'),
            url('#{$AcromFontPath}/#{$AcromFontName}-#{$AcromFontType}.woff') format('woff'),
            url('#{$AcromFontPath}/#{$AcromFontName}-#{$AcromFontType}.ttf') format('truetype');
}