// -------------- Mixins ----------------

@mixin vertical-margin-rythm($bottom, $top: "inherit"){
  margin-top: $top;
  margin-bottom: $bottom;

  @include breakpoint(small only) {
    margin-top: $top*0.7;
    margin-bottom: $bottom*0.7;
  }
}

// @include vertical-margin-rythm($bottom: rem-calc(40), $top: 0);


@mixin vertical-padding-rythm($bottom, $top: "inherit"){
  padding-top: $top;
  padding-bottom: $bottom;

  @include breakpoint(small only) {
    padding-top: $top*0.7;
    padding-bottom: $bottom*0.7;
  }
}

// @include vertical-padding-rythm($bottom: rem-calc(40), $top: 0);


// -------------- Media variables -----------

$collapsed-columns-start: map-get($breakpoints, 'small');
$collapsed-columns-end: 960px;
