/* BEGIN Bold */
@font-face {
	font-family: "GothamProNarrow";
	@include fontdef($GothamProNarrowFontPath, $GothamProNarrowFontName, $GothamProNarrowFontVersion, "Bold");
	font-weight: 700;
	font-style: normal;
}
/* END Bold */
