@mixin fontdef($GothamProNarrowFontPath, $GothamProNarrowFontName, $GothamProNarrowFontVersion, $GothamProNarrowFontType:"Regular") {
  src:  url('#{$GothamProNarrowFontPath}/#{$GothamProNarrowFontType}/#{$GothamProNarrowFontName}-#{$GothamProNarrowFontType}.eot');
  src:  url('#{$GothamProNarrowFontPath}/#{$GothamProNarrowFontType}/#{$GothamProNarrowFontName}-#{$GothamProNarrowFontType}.eot') format('embedded-opentype'),
        url('#{$GothamProNarrowFontPath}/#{$GothamProNarrowFontType}/#{$GothamProNarrowFontName}-#{$GothamProNarrowFontType}.woff') format('woff'),
        url('#{$GothamProNarrowFontPath}/#{$GothamProNarrowFontType}/#{$GothamProNarrowFontName}-#{$GothamProNarrowFontType}.ttf') format('truetype'),
        url('#{$GothamProNarrowFontPath}/#{$GothamProNarrowFontType}/#{$GothamProNarrowFontName}-#{$GothamProNarrowFontType}.svg') format('svg');
}

@mixin fontdef-woff($GothamProNarrowFontPath, $GothamProNarrowFontName, $GothamProNarrowFontVersion:"1.0.0", $GothamProNarrowFontType:"Regular") {
    src:    url('#{$GothamProNarrowFontPath}/#{$GothamProNarrowFontType}/#{$GothamProNarrowFontName}-#{$GothamProNarrowFontType}.woff') format('woff'),
            url('#{$GothamProNarrowFontPath}/#{$GothamProNarrowFontType}/#{$GothamProNarrowFontName}-#{$GothamProNarrowFontType}.ttf') format('truetype');
}

