/* BEGIN Bold */
@font-face {
	font-family: "GothamProNarrow";
	@include fontdef($GothamProNarrowFontPath, $GothamProNarrowFontName, $GothamProNarrowFontVersion, "Medium");
	font-weight: 500;
	font-style: normal;
}
/* END Bold */
