/* ------------------ Scaffolding styles ------------- */

body {
  background-color: #FFFFFF;
}

.page-content {
  padding: 0 10%;
  @include breakpoint(small only) {
    padding: 0 5%;
  }
}

.body-container > section,
.page-content > section {
  @include vertical-margin-rythm($bottom: rem-calc(70), $top: 0);

  &.small-indentation {
    @include vertical-margin-rythm($bottom: rem-calc(35), $top: 0);
  }
}