/* ------------------ Controls ------------- */

*:focus {outline: none;}


.button {
  text-transform: uppercase;

  &.test-button {
    font-size: rem-calc(18px);
    padding: 0.7em 2.5em;
  }
}

select {
  border: none;
  
  // remove annoying dotted outline in firefox
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

// Radio buttons and checkboxes

input {
   &[type=checkbox], &[type=radio] {
      opacity: 0;
      position: absolute;

      & + label:before {
         display: inline-block;
         text-align: center;
         line-height: 1;

         border: 0.0625rem solid #6A6A6A; // darker $secondary-color
         background: #D2D2D2; // darker $secondary-color
         width: 1rem;
         height: 1rem;
         margin-right: 0.5rem;
         font-size: 0.875rem;
      }

      &:checked + label:before {
         background: #57AEC2; //lighter $primary-color
         border-color: #57AEC2; //lighter $primary-color
      }
   }

   &[type=checkbox] {
      & + label:before {
         content: "\2008";
         padding-right: 1px;
         border-radius: 0.125rem;
      }
   }

   &[type=radio] {
      & + label:before {
         content: "\2008";
         border-radius: 50%;
      }
   }
}

// Ordered list

ol {
  list-style-type: none;

  margin: 0;
  margin-left: 3em;
  padding: 0;

  counter-reset: li-counter;

  & > li {
    position: relative;
    @include vertical-margin-rythm($bottom: rem-calc(30), $top: 0);
  }

  & > li:before {
    position: absolute;
    top: 3px;
    left: -1.8em;
    width: 1em;
    height: 1em;

    text-align: center;
    color: $white;
    font-weight: bold;
    line-height: 1;

    background-color: $primary-color;
    content: counter(li-counter);
    counter-increment: li-counter;
  }
}


// Increment buttons

$input-number-size: 80px;

.input-number-group {
  display: flex;
  justify-content: center;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    appearance: none;
  }

  .input-group-button {
    line-height: calc(#{$input-number-size}/3.5 - 5px);
  }

  .input-number-decrement,
  .input-number-increment {
    display: inline-block;
    width: $input-number-size/4;
    height: $input-number-size/4;
    color: $white;
    background: #727274;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
  }

  .input-number-decrement {
    margin-right: 1rem;
  }

  .input-number-increment {
    margin-left: 1rem;
  }
}


// Input and input group

input {
  background-color: #D2D2D2; //light-grey color
  border: 1px solid #D2D2D2; //light-grey color
  padding-left: 10px;
}

.input-group {
  .button {
    font-size: 0.8rem;
    padding: 0.8em 2.5em;
  }
}

.section-input-group {
  @include vertical-margin-rythm($bottom: rem-calc(60), $top: 0);

  display: flex;
  align-items: center;
  flex-direction: column;

  .group-title {
     margin-bottom: 1.5em;
     text-align: center;
  }

  .input-group {
    max-width: rem-calc(320);
    align-self: center;
  }

  @include breakpoint(small only) {
    font-size: rem-calc(12);
  }
}

.orbit-action-button-wrapper {
  margin-top: -1.4em;
  text-align: center;

  .orbit-action-button {
    position:relative;

    $button-font-small-start: map-get($breakpoints, 'medium');
    $button-font-small-end: 810px;

    @media (min-width: $button-font-small-start) and (max-width: $button-font-small-end) {
      font-size: rem-calc(16);
    }
  }

  @include breakpoint(small only) {
    margin-top: 0;
  }
}


