.detail-top-banner
{
	max-width: 80%;
}
.detail-page
{
	.page-img-title
	{
		margin-bottom: 30px;
	}
	.page-img-title .title
	{
		width: 60%;
	}
	.detail-symptoms
	{
		max-width: 80% !important;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.detail-links
	{
		max-width: 80%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 60px;
		a
		{
			display: inline-block;
			font-size: 1.1em;
			line-height: 1.2;
			color: #717173;
			padding: 0.625rem 0.9375rem;
			margin: 0;
			margin-bottom: 4px;
			width: 14.5rem;
			font-weight: 300;
			text-align: center;
			background-color: #d2d2d2;
			&.active,
			&:hover
			{
				background-color: #3B9FB9;
				color: #fefefe;
			}
		}
	}
	.two-lines
	{
		max-width: 80%;
		margin: 0 auto;
	}
	.page-title.two-lines span:before,
	.page-title.two-lines span:after
	{
		top: 0.8em;
	}
	.small-txt
	{
		font-size: 2rem;
		&:before,
		&:after
		{
			display: none;
		}
	}
	.detail-product
	{
		width: 93%;
		margin: 0 auto;
		padding-top: 51px;
		margin-bottom: 30px;
	}
	.product-item
	{
		width: 48%;
		float: left;
		img
		{
			margin-bottom: 14px;
		}
		p
		{
			text-align: center;
		}
		.product-item-certificate
		{
			font-size: 12px;
			color: #d2d2d2;
		}
	}
	.product-item-description
	{
		width: 52%;
		float: left;
		margin-left: 0;
		list-style: none !important;
		li
		{
			padding-left: 13px;
			position: relative;
			margin-bottom: 26px;
			&:before
			{
				display: inline-block;
				background-image: url('../../images/icons/detail-eye.png');
				width: 50px;
				height: 35px;
				content: '';
				position: absolute;
				left: -53px;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
	.p-italic
	{
		font-style: italic;
	}
	.detail-tabs__buttons
	{
		button
		{
			background-color: #d2d2d2;
			padding: 15px;
			padding-left: 30px;
			padding-right: 30px;
			color: #fefefe;
			font-weight: 500;
			cursor: pointer;
			&.active,
			&:hover
			{
				background-color: #3a9fb8;
			}
		}
	}
	.detail-tabs
	{
		max-width: 80%;
		margin: 0 auto;
		margin-bottom: 60px;
	}
	.detail-tabs__content
	{
		background-color: #ebf5f8;
		padding: 40px 25px;
	}
	.detail-tabs__item
	{
		display: none;
		&.active
		{
			display: block;
		}
	}
	.p-no-margin
	{
		margin-bottom: 0 !important;
	}
	.detail-other-forms
	{
		width: 80%;
		margin: 0 auto;
	}
	.detail-other-forms__title
	{
		padding: 15px;
		background-color: #3a9fb8;
		color: white;
		font-size: 19px;
		text-transform: uppercase;
		display: inline-block;
	}
	.detail-other-forms__item
	{
		max-width: 50%;
		margin-top: 15px;
	}
	.detail-other-forms
	{
		margin-bottom: 17vh;
	}

}
.caution 
{
	font-family: 'Oswald';
	color: #C8C8C8;
	font-size: 5.5vh;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	background-color: #f8f8f8;
	position: fixed;
	right: 0;
	bottom: 0;
	min-height: 5vh;
	margin: 0 !important;
}

@media (min-width: 85.625rem)
{
	.caution {
    right: 0;
    left: calc(50% - ((85.625rem / 2) - 190px)) !important;
	}
}
@media print, screen and (min-width: 40em)
{
	.caution {
	    left: 190px;
	    padding: 20px;
	}
}
@media (max-width: 1200px)
{
	.detail-page .detail-other-forms
	{
		margin-bottom: 30vh;
	}
}
@media (max-width: 1024px)
{
	.caution
	{
		font-size: 3.5vh;
	}
	.detail-page
	{
		.product-item,
		{
			width: 100%;
		}
		.product-item-description
		{
			margin-left: 10%;
			width: 90%;
		}
		.detail-other-forms__item
		{
			max-width: 100%;
		}
	}

}
@media (max-width: 639px)
{
	.detail-page .small-txt
	{
		font-size: 1rem;
	}
}
@media (max-width: 500px)
{
	.detail-page .product-item-description
	{
		margin-left: 18%;
		width: 82%;
	}
	.detail-page .detail-tabs__buttons button
	{
		padding-left: 15px;
		padding-right: 15px;
	}
}