// -------------- Lists ----------------


// Deseases list with icons

.diseases-list {
  @include grid-layout(4, '.disease-item', $grid-column-gutter);
  @include vertical-margin-rythm($bottom: rem-calc(30), $top: 0);

  .disease-item {
    @include grid-column-margin; // adds a bottom margin equal side paddings

    text-align: center;
    line-height: 1.1;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
    color: $body-font-color;

    &:hover,
    &.active {
      opacity: 1;
    }

    & > i {
      display: inline-block;
      width: 100%;

      &:before {
        margin-bottom: rem-calc(5);
        margin-left: rem-calc(8);
      }
    }
  }

  // add whis class to erase hover (aka link) behavior
  &.static .disease-item {
    cursor: default;
    opacity: 1;
  }
  
  
  @media (max-width: 379px) {
    @include grid-layout(2, '.disease-item', $grid-column-gutter);
  }

  @media  (min-width: 380px) and (max-width: 475px) {
    @include grid-layout(3, '.disease-item', $grid-column-gutter);
  }

  @media (min-width: 640px) and (max-width: 779px) {
    @include grid-layout(3, '.disease-item', $grid-column-gutter);
  }

  @media (min-width: 780px) and (max-width: 899px) {
    @include grid-layout(4, '.disease-item', $grid-column-gutter);
  }

  @media (min-width: 900px) and (max-width: 1059px) {
    @include grid-layout(5, '.disease-item', $grid-column-gutter);
  }

  @media (min-width: 1060px) and (max-width: 1229px) {
    @include grid-layout(6, '.disease-item', $grid-column-gutter);
  }

  @media (min-width: 1230px) {
    @include grid-layout(7, '.disease-item', $grid-column-gutter);
  }
}


// Two columnn links list

.two-column-list {
  @include vertical-margin-rythm($bottom: rem-calc(90), $top: 0);

  li {
    list-style-type:none; 

    a {
      color: $body-font-color;
      padding: 0.5rem 1.5rem 0.5rem 0;
      display: inline-block;
    }

    &.is-active a {
      color: $primary-color;
    }

    &:hover a {
      color: scale-color($primary-color, $lightness: -5%);
    }
  }

  @media (min-width: 440px) {
    columns: 2 auto;
    column-gap: 0;

    li a {
      padding: 1.25rem 1.5rem 1.25rem 0;
    }
  }
}


// Medicines images list

.medicines-list {
  @include grid-layout(3, '.medicine-item', $grid-column-gutter);
  @include vertical-margin-rythm($bottom: rem-calc(15), $top: 0);

  &.centered .medicine-item {
    @include grid-column-position(center);
  }

  .medicine-item {
    @include grid-column-margin; // adds a bottom margin equal side paddings

    list-style-type:none;
    text-align: center;
    line-height: 1.1;
  }

  .item-title {
    line-height: 1.2;
  }

  @include breakpoint(small only) {
    @include grid-layout(1, '.medicine-item', $grid-column-gutter);

    .medicine-item {
      margin-bottom: rem-calc(50);
    }

    .item-title {
      font-size: rem-calc(18);
      margin-bottom: 0.7rem;      
    }
  }
}


// Interactive banner list 

.brightest-picture-list {
  margin: 0 -12px 0 0;

  .brightest-picture-item {
    display: inline-block;
    padding-bottom: 6vw;
    width: 49%;

    &:nth-child(even) {
      padding-left: 3vw;
    }
    &:nth-child(odd) {
      padding-right: 3vw;
    }

    & > img:hover {
        box-shadow: 0 0 0 6px rgba($primary-color, 0.3);
        cursor: pointer;
      }

    &.active img {
      box-shadow: 0 0 0 6px $primary-color;
    }
  }
}