/* ------------------ Menu ------------- */

// Vistion test menu navigation

$inactive-test-nav-color: #7F7F7F;
$low-opacity: 0.55;

.vision-test-nav {
  @include menu-base;
  @include menu-expand;

  margin-top: rem-calc(30);

  li {
    text-align: center;

    & > a {
      font-size: rem-calc(15);
      padding: 0;
      height: inherit;
      border-bottom: 5px solid;
      margin-right: 2px;
      height: rem-calc(115);
      color: $primary-color;
    }
  }

  li:hover .icon,
  li:hover .nav-item-title {
    opacity: 1;
  }

  .icon {
    display: block;
    margin: 0 auto;
    padding-bottom: rem-calc(12);
    width: rem-calc(55);
  }

  li.active {
    a {
      background-color: transparent;
      opacity: 1;
      cursor: default;
      color: $primary-color;
    }
    .icon,
    .nav-item-title {
      opacity: 1;
    }

    // all items after .active are grey
    & ~ li {
      filter: grayscale(100%);

      & > a {
        color: $inactive-test-nav-color;
        opacity: $low-opacity;
      }

      &:hover a {
        opacity: 1;
      }
    }
  }

  .icon,
  .nav-item-title {
    opacity: $low-opacity;
    transition: opacity 0.15s ease-in;
  }

  @media (max-width: rem-calc(1040)) {
    li > a {
        height: auto;
        padding-bottom: rem-calc(5);
    }

    .nav-item-title {
      display: none;
    }
  }

  .test-entry-point {
    position: absolute;
    display: block;
    flex: 0;
    height: 9px;
    width: 6px;
    left: 0;
    bottom: -2px;
    background-color: $primary-color;;
    z-index: 1;
  }
}

// Main site navigation

.site-nav {
  @include menu-base;
  @include menu-direction(vertical);

  font-family: $gothampro-font-family;
  font-size: rem-calc(11);
  font-weight: 400;
  text-transform: uppercase;

  li {
    & a {
      color: #D1E8EE;
      line-height: 1.2;
      padding: rem-calc(15) 0;
      border-bottom: 1px solid #56BFD6;

      position: relative;
      height: 125px;

      display: flex;
      flex-wrap: wrap;
      text-align: center;

      .icon-container,
      .text-container {
        width: 100%;
      }

      .text-container {
        position: absolute;
        bottom: 9px;
        left: 0;
        right: 0;
      }

      span {
        display: block;
      }

      i[class*="icon-"] {
        display: block;
      }

      @mixin small-site-nav {
        height: inherit;
        position: static;
        span {display: inline;}
        .icon-container {display: none;}
        .text-container {position: static;}
      }

      @include breakpoint(small only) {
        @include small-site-nav;
      }

      $menu-whithout-icons-start: map-get($breakpoints, 'small');
      $menu-whithout-icons-end: 595px;
      $menu-responsive-items-height-end: 805px;

      @media (min-height: $menu-whithout-icons-start) and (max-height: $menu-whithout-icons-end) {
        @include small-site-nav;
      }

      @media (min-height: $menu-whithout-icons-end) and (max-height: $menu-responsive-items-height-end) {
        height: 16vh; // 100% height / 6 menu items =~ 16vh
      }
    }

    &.active a,
    &.active a:hover, {
      background-color: #378195;
      cursor: default;
    }

    &:first-child a,
    &:first-child a:hover, {
      background-color: $white;
      color: $black;
    }
  }

  li:hover a {
    background-color: scale-color($primary-color, $lightness: -7%);
  }
}






