/* ------------------ Orbit ------------- */

.orbit-bullets {
  position: absolute;
  bottom: 8%;
  right: rem-calc(30);

  button {
    cursor: pointer;
    position: relative;

    &.is-active:before {
      content: "";
      display: block;
      background-color: $primary-color;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      position: absolute;
      right: 6px;
      top: 6px;
    }
  }


  @include breakpoint(small only) {
    position: static;

    button,
    button.is-active,
    button:hover {
      background-color: #E6E6E6;
    }
  }
}