/* ------------------ Tabs ------------- */

.diseases-tabs {
  @include vertical-margin-rythm($bottom: rem-calc(30), $top: 0);

  .tabs-container {
    @include tabs-container;
    @include tabs-container-vertical;

    border: none;

    li {
      a {
        font-size: 1rem;
        color: $body-font-color;
        padding: 1.25rem 1.5rem 1.25rem 0;
      }

      &.is-active a {
        color: $primary-color;
      }

      &:hover a {
        color: scale-color($primary-color, $lightness: -5%);
      }
    }
  }

  .tabs-container.accordion {
    width: 100%;

    li > a {
      padding-left: 1.5rem;
    }
  }

  .tabs-container.tabs {
    li > a {
      border-color: #f1f1f1;
    }

    li.is-active a,
    li a:focus {
      background-color: transparent;
    }
  }

  .tabs-content {
    @include tabs-content;
    @include tabs-content-vertical;

    border: none;

    .desease-symptoms-box {
      background-color: #EDEDED;
      padding: 30px 40px;
      min-height: 260px;
    }
  }

  @include breakpoint(medium) {
    .tabs-container,
    .tabs-content {
      width: 50%;
    }
  }
}