/* ------------------ Tables ------------- */

$test-results-border: 1px solid #ACD6E2;

.test-results {
  @include vertical-margin-rythm($bottom: rem-calc(30), $top: 0);

  tbody {
    border-top: $test-results-border;
    border-bottom: $test-results-border;
    border-left: none;
    border-right: none;
  }

  tr {
    border-bottom: $test-results-border;

    &.alert td {
      color: #FD0000;

      i[class*="icon-"] {
        filter: none;
      }
    }
  }

  td {
    vertical-align: middle;
    line-height: 1.2;

    &:first-child {
      width: 20%;
      height: rem-calc(120);
      text-align: center;
    }

    &:not(:first-child) {
      padding-left: rem-calc(30);
    }

    &:not(:last-child) {
      border-right: $test-results-border;
    }

    i[class*="icon-"] {
      display: block;
      filter: grayscale(100%);
    }
  }
}

.eye-diseases-wrapper {
  @include vertical-margin-rythm($bottom: rem-calc(50), $top: rem-calc(40));

  @media (min-width: rem-calc(890px)) {
    padding: 0 10%;
  }
}

.eye-diseases {
  tbody {
    border: none;
  }

  tr {
    border-bottom: none;

    &:not(:last-child) {
      border-bottom: 1px solid #5D5D5D;
    }
  }

  td {
    width: 33%;
    height: rem-calc(100);
    text-align: center;
    vertical-align: middle;
    padding: 0;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: background-color 0.1s ease;
      color: $body-font-color;
      line-height: 1.2;
    }

    &.dense a {
      font-size: 0.8em;
    }

    &:not(:last-child) {
      border-right: 1px solid #5D5D5D;
    }

    &:hover {
      a {
        background-color: $primary-color;
        color: $white;
      }
    }

    @media (max-width: rem-calc(890px)) {
      height: rem-calc(125);

      & a {
        font-size: rem-calc(13);
      }

      &.dense a {
        font-size: rem-calc(12);
      }
    }
  }
}

// Acuity test table

.acuity-test-table {
  tbody,
  tr {
    border: none;
  }

  td {
    padding: 0 0 0 15px;
  }

  label {
    position: relative;
  }

  input[type="checkbox"] + label::before,
  input[type="radio"] + label::before {
    position: absolute;
    top: 50%;
    margin-left: -1.2rem;
    margin-top: -0.5rem;
  }
}











